<h2>User info</h2>
<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label>
  <div><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <div><label for="inputImage">Image</label>
  <div><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
  <div><label for="inputIntroduction">Introduction</label>
  <div><%= f.text_field :introduction, autofocus: true, id:"introduction",placeholder:"説明"%>
  <div><%= f.submit "Update User" %></div>
<% end %>

