
<html>
<%= render 'books/list', book: @book, user: @user %>
<!--@book.user-->
<div class="col-sm-1"></div>

<div class="col-sm-8">
    <h3>Books</h3>
    <table class="table">
  <thead>
    <tr>
      <th scope="col"><div class= "text-right">Title</div></th>
      <th scope="col"><div class= "text-right">Opinion</div></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <th scope="row"></th>
      <td>
       <p><%= image_tag book.user.get_profile_image(100,100) %>
       </p>
      </td>
      <td>
        
        <%= link_to book_path(book.id) do %>
        <p><%= book.title %></p>
        <% end %></td>
        
      <td><p><%= book.body %></p></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
</div>

</html>


