
 <link rel="stylesheet" href="css/bootstrap.min.css">
 <script src="https://kit.fontawesome.com/30d49815c9.js" crossorigin="anonymous"></script>



<%= form_with(model: book, local: true) do |form| %>
<% if book.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h3>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
       </ul>
  </div>
  </div>
  <% end %>

<% end %>


<div class="container">
   <div class="row">
      <div class="col-sm-3">
<table class="table">

 <h3>User info</h3>
 <%= image_tag user.get_profile_image(100,100) %>

  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col"><%= user.name %></th>
    </tr>
    <tr>
      <th style="border-bottom: none;">introduction</th>
      <th style="border-bottom: none;" scope="col"><%= user.introduction %></th>
    </tr>
  </thead>
    </table>

<% if user == current_user %>
<button type="button" class="btn btn-outline-secondary  btn-block">
 <%= link_to  edit_user_path(user), class: 'btn btn-default' do  %>
  <i class="fa fas fa-user-cog" style="color: gray;"></i>
  <span></span>
  </button>
 <% end %>
  <% end %>
<!-- <i class="fas fa-user-cog"></i> Font Awesome fontawesome.com -->


<%= form_with model: Book.new do |f| %>
<h3>New book</h3>



   <h4>title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>

    <div><%= f.submit 'Create Book', class: "btn btn-success" %></div>

<% end %>
</div>

