<!DOCTYPE html>
<!--<h2>User info</h2>
<div>
  < %= form_with model: @user do |f| %>
  <h3>name</h3>< %= @book.user %>
  <!--<p>< %= image_tag book.user.get_profile_image(100,100) %></p>
  <h3>introduction</h3>
  < % if @user == current_user %>
   <p> < %= link_to "編集", edit_user_path(@user) %> </p>
  < % end %>
  < % end %>
</div>-->


<h3>New book</h3>
  <%= form_with model: @book do |f| %>
    <h4>title</h4>
      <%= f.text_field :bookname %>
    <h4>Opinion</h4>
      <%= f.text_area :caption %>
    <div><%= f.submit 'Create Book' %>
  <% end %>

<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <p><%= post_image.user.name %></p>
  <%= image_tag book.get_image %>

  <p><%= book.title %></p>
  <p><%= book.caption %></p>
  <%=link_to "edit",edit_book_path(book.id) %>
  <!--<p>ユーザーネーム：< %= post_image.user.name %></p>
</div>
<% end %>





 <!--form_with を利用して、post_images_path/post_imagesに画像をアップロードします。
画像アップロードフィールドは、< %= f.file_field :image, accept: "image/*" %>で実装しています。


 <!--< %= f.file_field :image, accept: "image/*" %>