

<%= render 'list', user: @book.user, book: @book %>
  
  <div class="col-1"></div>
  
  <div class="col-8">
  <h3>Book detail</h3>
    <table class="table">
  <thead>
    <tr>
      <td scope="row">
       <%= image_tag @book.user.get_profile_image(100,100) %></br>
       <%= link_to @book.user.name, user_path(current_user.id) %>
      </td>
      <td scope="row"><%= link_to @book.title %></td>
      <td scope="row"><%= @book.body %></td>
      <td scope="row">
         <% if @book.user == current_user %>
        <%= link_to "edit", edit_book_path(@book) ,class: "btn btn-success" %>
         <% end %>
      </td>
      <td scope="row">
        <% if @book.user == current_user %>
        <%= link_to "destroy", book_path(@book.id),class: "btn btn-sm btn-danger",method: :delete, "data-confirm" => "本当に削除しますか？" %> 
        </button>
        <% end %>
</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
    
