<!DOCTYPE html>

<div class="container">
    <!-- row (行) の指定 -->
    <div class="row">
<div class="col-3">
<table class="table">
 <h3>User info</h3>
 <!--%= image_tag @user.get_profile_image(100,100) %-->
   <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col"><%= @book.user.name %></th>
    </tr>
    <tr>
      <th scope="col">introduction</th>
      <th scope="col"><!--%= @user.caption %--></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
    </tr>
    </tbody>
    </table>

<% if @book == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
<% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

  <!--% end %-->
 <!--i class="fa fa-solid fa-user-gear"></i-->

<%= form_with model: @book do |f| %>
<h3>New book</h3>
 
   <h4>title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <!--% if user_signed_in? %-->
    <div><%= f.submit 'Create Book' %></div>
   <!--div>< %= button_to "Create Book", {controller: 'books', action: 'new'}, {method: :get} %>
  <% end %>
    <!--<div>< %= f.submit 'Create Book' % -->
 </div>
  
  <div class="col-1"></div>
  
  <div class="col-8">
  <h3>Book detail</h3>
    <table class="table">
  <thead>
    <tr>
      <td scope="row">
       <%= image_tag @book.user.get_profile_image(100,100) %></br>
       <%= link_to @book.user.name, user_path(current_user.id) %>
      </td>
      <td scope="row"><%= @book.title %></td>
      <td scope="row"><%= @book.body %></td>
      <td scope="row">
         <% if @book.user == current_user %>
        <%= link_to "edit", edit_book_path(@book)  %>
  <% end %>
      </td>
      <td scope="row">
        <% if @book.user == current_user %>
        <%= link_to "destroy", book_path(@book), method: :delete %>
  <% end %>
</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
    
