
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script src="https://kit.fontawesome.com/30d49815c9.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <header class="shadow-sm ">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

        <div class="container">

          <a class="navbar-brand p-1" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav ml-auto">

            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to  user_path(current_user.id), class: 'nav-link text-white' do %>
                <i class="fas fa-home"></i> Home
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  users_path, class: 'nav-link text-white' do %>
                <i class="fas fa-solid fa-users"></i> Users
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  books_path, class: 'nav-link text-white' do %>
                <i class="fas fa-book-open"></i> Books
               <% end %>
            </li>
            <li class="nav-item">
               <%= link_to destroy_user_session_path, class: 'nav-link text-white', method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> Log out
               <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-white' do %>
                <i class="fas fa-home"></i> Home
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  about_path, class: 'nav-link text-white' do %>
                <i class="fas fa-link"></i> About
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  new_user_registration_path, class: 'nav-link text-white' do %>
                <i class="fas fa-user-plus"></i> Sign up
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
                <i class="fas fa-sign-in-alt"></i> Log in
               <% end %>

            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <p class="notice"><%= notice %></p>
    <%= yield %>

    </main>
    <footer>
      <div class="container mt-5 ">
        <div class="row">
          <div class="mx-auto">
            <p class="text-center">CopyRight Infratop.inc</p>

　　　　　　</div>
　　　　　　　</div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

