<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!--link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
     <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script src="https://kit.fontawesome.com/30d49815c9.js" crossorigin="anonymous"></script>
     	<!--link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"-->
  </head>

  <body class="d-flex flex-column vh-100">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <header class="shadow-sm ">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
          <a class="navbar-brand p-3" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to  user_path(current_user.id), class: 'nav-link text-white' do %>
                <i class="fas fa-home"></i> Home
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  users_path, class: 'nav-link text-white' do %>
                <i class="fa fa-solid fa-users"></i> Users
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  books_path, class: 'nav-link text-white' do %>
                <i class="fa fa-solid fa-book-open"></i> Book
               <% end %>
            </li>
            <li class="nav-item">
               <%= link_to destroy_user_session_path, class: "nav-link text-white", method: :delete do %>
                <i class="fas fa-sign-in-alt"></i> Log out
               <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-white' do %>
                <i class="fas fa-home"></i> Home
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  about_path, class: 'nav-link text-white' do %>
                <i class="fa-solid fa-link"></i> About
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  new_user_registration_path, class: 'nav-link text-white' do %>
                <i class="fa fa-solid fa-user-plus"></i> Sign up
               <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
                <i class="fas fa-sign-in-alt"></i> Log in
               <% end %>

            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg text-black pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <p class="text-center">CopyRight Infratop.inc</p>

          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

